<section class="content-header">
    <h1>账册备案</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-cubes"></i>账册备案管理</a></li>
        <li class="active">账册备案</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <!--<div style="width: 100%;text-align:right;">-->
                <!--<button class="btn btn-sm btn-info" style="margin: 0 10px 10px 0;float: right"-->
                        <!--type="button">新增备案-->
                <!--</button>-->
            <!--</div>-->

            <div class="box box-primary">

                <div class="box-header with-border" style="background-color: #95bfff;color: #fff;">
                    <i class="fa fa-clone"></i>
                    <h3 class="box-title">账册备案</h3>
                </div>

                <div class="box-body" id="accountId">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="box-tools pull-right">
                                <button class="btn btn-sm btn-danger pull-right" type="button" ws-submit="" id="delAccount"
                                        data-toggle="tooltip-disabled" style="margin: 0 10px 0 10px">删除备案
                                </button>
                            </div>
                            <div class="box-tools pull-right">
                                <button class="btn btn-sm btn-info pull-right" type="button" ws-submit="" id="crtAccount"
                                        data-toggle="tooltip-disabled" style="margin: 0 10px 0 10px">新增备案
                                </button>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 统一编号</label>
                                <input type="hidden" name="id"/>
                                <input type="text" class="form-control input-sm" name="ent_name"
                                       maxlength="100" readonly="readonly" placeholder="请填写统一编号"/>
                                <small class="help-block"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 仓库账册号</label>
                                <input type="text" class="form-control input-sm" name="ent_code"
                                       maxlength="50" readonly="readonly" placeholder="请填写仓库账册号"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 企业内部编号</label>
                                <input type="text" class="form-control input-sm" name="ent_legal"
                                       maxlength="50" readonly="readonly" placeholder="请填写企业内部编号"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 申报类型</label>
                                <input type="text" class="form-control input-sm" name="ent_phone"
                                       maxlength="50" readonly="readonly" placeholder="请填写申报类型"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 区域场所类别</label>
                                <input type="text" class="form-control input-sm" name="ent_unique_code"
                                       maxlength="30" readonly="readonly" placeholder="请填写区域场所类别"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 主管海关</label>
                                <input type="text" class="form-control input-sm" name="org_code"
                                       maxlength="20" readonly="readonly" placeholder="请填写主管海关"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 经营企业编号</label>
                                <input type="text" class="form-control input-sm" name="business_code"
                                       maxlength="50" readonly="readonly" placeholder="请填写经营企业编号"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 经营企业名称</label>
                                <input type="text" class="form-control input-sm" name="dxp_id"
                                       maxlength="50" readonly="readonly" placeholder="请填写经营企业名称"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 仓库容积(立方米)</label>
                                <input type="text" class="form-control input-sm" name="dxp_id"
                                       maxlength="50" readonly="readonly" placeholder="请填写仓库容积(立方米)"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 结束有效日期</label>
                                <input type="text" class="form-control input-sm" name="dxp_id"
                                       maxlength="50" readonly="readonly" placeholder="请填写结束有效日期"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 录入单位名称</label>
                                <input type="text" class="form-control input-sm" name="dxp_id"
                                       maxlength="50" readonly="readonly" placeholder="请填写录入单位名称"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 账册用途</label>
                                <input type="text" class="form-control input-sm" name="dxp_id"
                                       maxlength="50" readonly="readonly" placeholder="请填写账册用途"/>
                                <small class="help-block hidden"></small>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 申报企业编号</label>
                                <input type="text" class="form-control input-sm" name="tax_code"
                                       maxlength="20" readonly="readonly" placeholder="请填写申报企业编号"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 申报企业名称</label>
                                <input type="text" class="form-control input-sm" name="credit_code"
                                       maxlength="18" readonly="readonly" placeholder="请填写申报企业名称"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 申报单位类型代码</label>
                                <input type="text" class="form-control input-sm" name="credit_code"
                                       maxlength="18" readonly="readonly" placeholder="请填写申报单位类型代码"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 联系人</label>
                                <input type="text" class="form-control input-sm" name="credit_code"
                                       maxlength="18" readonly="readonly" placeholder="请填写联系人"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 联系电话</label>
                                <input type="text" class="form-control input-sm" name="credit_code"
                                       maxlength="18" readonly="readonly" placeholder="请填写联系电话"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 企业类型</label>
                                <input type="text" class="form-control input-sm" name="customs_code"
                                       maxlength="10" readonly="readonly" placeholder="请填写企业类型"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 仓库面积(平方米)</label>
                                <input type="text" class="form-control input-sm" name="credit_code"
                                       maxlength="18" readonly="readonly" placeholder="请填写仓库面积(平方米)"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 仓库编号</label>
                                <input type="text" class="form-control input-sm" name="credit_code"
                                       maxlength="18" readonly="readonly" placeholder="请填写仓库编号"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 仓库地址</label>
                                <input type="text" class="form-control input-sm" name="dxp_id"
                                       maxlength="50" readonly="readonly" placeholder="请填写仓库地址"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 记帐模式</label>
                                <input type="text" class="form-control input-sm" name="dxp_id"
                                       maxlength="50" readonly="readonly" placeholder="请填写记帐模式"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 录入单位名称</label>
                                <input type="text" class="form-control input-sm" name="dxp_id"
                                       maxlength="50" readonly="readonly" placeholder="请填写企业DXPID"/>
                                <small class="help-block hidden"></small>
                            </div>
                            <div class="form-group col-xs-12 margin_b ">
                                <label><strong class="text-red">*</strong> 备注</label>
                                <input type="text" class="form-control input-sm" name="dxp_id"
                                       maxlength="50" readonly="readonly" placeholder="请填写备注"/>
                                <small class="help-block hidden"></small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
