<section class="content-header">
    <h1>清单申报</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-cubes"></i>清单管理</a></li>
        <li class="active">清单申报</li>
    </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-search"></i>
                    <h3 class="box-title">检索</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-sm btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <form class="form-inline" role="form">
                        <div class="col-md-12">

                            <div class="form-group">
                                <div class="input-group input-daterange">
                                    <span class="input-group-addon"
                                          style="border-width: 1px;">导入日期：</span>
                                    <input class="form-control" type="text" name="startFlightTimes"/>
                                </div>
                                到
                                <div class="input-group input-daterange">
                                    <input class="form-control" type="text" name="endFlightTimes"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">订单编号</span>
                                    <input type="text" class="form-control" name="orderNo" placeholder="请输入订单编号" />
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" type="button" ws-search=""
                                        data-toggle="tooltip-disabled"
                                        title="查询"><i class="fa fa-search"></i></button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary ws-query">
                <div class="box-header with-border">
                    <i class="fa fa-file-archive-o"></i>
                    <h3 class="box-title">清单申报</h3>
                    <div class="box-tools pull-right">
                        <!--<button class="btn btn-sm btn-primary pull-right" type="button" ws-submit="" id="submitManifestBtn"-->
                                    <!--data-toggle="tooltip-disabled">提交海关-->
                        <!--</button>-->
                        <button class="btn btn-sm btn-primary pull-right" type="button" style="margin-right: 10px" ws-download="" id="InvenXmlDownload"
                                data-toggle="tooltip-disabled">清单报文下载
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div style="text-align: center">
                        <table id="query-detailDeclare-table" align="center"
                               class="table table-striped table-bordered table-hover table-condensed"
                               width="100%">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
