<div class="detailPage">
    <div class="entryTitle">
        <span>清单回执详情</span>
    </div>
    <div class="text-center">
    </div>
    <table id="entryHead" class="headDetail" content="content" align="center" border="1px solid balck">
        <tr>
            <td class="headTitle">订单编号</td>
            <td>
                <input class="form-control input-sm" maxlength="60" id="bill_no"/>
            </td>
            <td class="headTitle">企业内部编号</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="order_no"/>
            </td>
            <td class="headTitle">物流运单编号</td>
            <td>
                <input class="form-control input-sm" maxlength="60" id="logistics_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">回执状态</td>
            <td>
                <input class="form-control input-sm" maxlength="60" id="return_status"/>
            </td>
            <td class="headTitle">回执备注</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="return_info"/>
            </td>
            <td class="headTitle">回执时间</td>
            <td>
                <input class="form-control input-sm" maxlength="60" id="return_time"/>
            </td>
        </tr>

    </table>

    <div class="text-center">
        <small class="help-block text-red" id="errorMsg"></small>
    </div>

</div>
