<div class="detailPage">
    <div class="entryTitle">
        <span>清单详情</span>
    </div>
    <div class="text-center">
        <small class="help-block text-red">
            为保证申报内容准确，请在修改国别、币制、包装种类、计量单位等信息时填写对应代码。
        </small>
    </div>
    <table id="entryHead" class="headDetail" border="1px solid balck">
        <tr>
            <td class="headTitle">订单编号</td>
            <td>
                <input class="form-control input-sm" maxlength="60" id="order_no"/>
            </td>
            <td class="headTitle">企业内部编号</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="cop_no"/>
            </td>
            <td class="headTitle">物流运单编号</td>
            <td>
                <input class="form-control input-sm" maxlength="60" id="logistics_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">海关清单编号</td>
            <td>
                <input class="form-control input-sm" maxlength="18" id="invt_no"/>
            </td>
            <td class="headTitle">电子口岸标识编号</td>
            <td>
                <input class="form-control input-sm" maxlength="18" id="pre_no"/>
            </td>
            <td class="headTitle">商品总价（合计）</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="total_sum"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">电商平台代码</td>
            <td>
                <input class="form-control input-sm" maxlength="18" id="ebp_code"/>
            </td>
            <td class="headTitle">电商平台名称</td>
            <td>
                <input class="form-control input-sm" maxlength="100" id="ebp_name"/>
            </td>
            <td class="headTitle"></td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="321"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">电商企业代码</td>
            <td>
                <input class="form-control input-sm" maxlength="18" id="ebc_code"/>
            </td>
            <td class="headTitle">电商企业名称</td>
            <td>
                <input class="form-control input-sm" maxlength="100" id="ebc_name"/>
            </td>
            <td class="headTitle">担保企业编号</td>
            <td>
                <input class="form-control input-sm" maxlength="30" id="assure_code"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">申报海关代码</td>
            <td>
                <select class="form-control input-sm" id="customs_code"/>
            </td>
            <td class="headTitle">口岸海关代码</td>
            <td>
                <select class="form-control input-sm" id="port_code"/>
            </td>
            <td class="headTitle">进口日期</td>
            <td>
                <div class="input-group input-daterange" style="width:100%">
                    <input class="form-control input-sm" type="text" id="ie_date"/>
                </div>
            </td>
        </tr>
        <tr>
            <td class="headTitle">订购人证件号码</td>
            <td>
                <input class="form-control input-sm" maxlength="60" id="buyer_id_number"/>
            </td>
            <td class="headTitle">订购人姓名</td>
            <td>
                <input class="form-control input-sm" maxlength="60" id="buyer_name"/>
            </td>
            <td class="headTitle">订购人电话</td>
            <td><input class="form-control input-sm" maxlength="30" id="buyer_telephone"/></td>
        </tr>
        <tr>
            <td class="headTitle">收件地址</td>
            <td >
                <input class="form-control input-sm" maxlength="200" id="consignee_address"/>
            </td>
            <td class="headTitle">运费</td>
            <td >
                <input class="form-control input-sm" maxlength="19" id="freight"/>
            </td>
            <td class="headTitle">包装种类</td>
            <td>
                <select class="form-control input-sm" id="wrap_type"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">申报企业代码</td>
            <td>
                <input class="form-control input-sm" maxlength="18" id="agent_code"/>
            </td>
            <td class="headTitle">申报企业名称</td>
            <td>
                <input class="form-control input-sm" maxlength="100" id="agent_name"/>
            </td>
            <td class="headTitle">运输方式</td>
            <td>
                <select class="form-control input-sm" id="traf_mode"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">运输工具编号</td>
            <td>
                <input class="form-control input-sm" maxlength="100" id="traf_no"/>
            </td>
            <td class="headTitle">航班航次号</td>
            <td>
                <input class="form-control input-sm" maxlength="32" id="voyage_no"/>
            </td>
            <td class="headTitle">提运单号</td>
            <td>
                <input class="form-control input-sm" maxlength="37" id="bill_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">起运国（地区）</td>
            <td>
                <select class="form-control input-sm" id="country"/>
            </td>
            <td class="headTitle">净重</td>
            <td>
                <input class="form-control input-sm" maxlength="19" id="net_weight"/>
            </td>
            <td class="headTitle">毛重</td>
            <td>
                <input class="form-control input-sm" maxlength="19" id="gross_weight"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">备注</td>
            <td colspan="6">
                <input class="form-control input-sm" maxlength="1000" id="note"/>
            </td>
        </tr>
    </table>

    <div class="entryTitle">
        <span>商品信息</span>
    </div>
    <table id="entryList" class="listDetail" border="1px solid balck">
        <tr style="height: 30px">
            <th width="3%">序号</th>
            <th>商品名称</th>
            <th width="8%">商品编码</th>
            <th>商品规格/型号</th>
            <th>原产国（地区）</th>
            <th width="5%">数量</th>
            <th>计量单位</th>
            <th width="5%">第一法定数量</th>
            <th>第一法定单位</th>
            <th width="5%">第二法定数量</th>
            <th>第二法定单位</th>
            <th width="5%">单价</th>
            <th width="5%">总价</th>
        </tr>
    </table>
    <div class="text-center">
        <small class="help-block text-red" id="errorMsg"></small>
    </div>
    <div class="form-group text-center margin" id="btnDiv">
        <button class="btn btn-sm btn-success" type="button" id="ws-page-apply"
                data-toggle="tooltip-disabled"
                title="提交保存">
            <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-sm btn-warning" type="button" id="ws-page-back"
                data-toggle="tooltip-disabled"
                title="取消并返回">
            <i class="fa fa-reply"></i>
        </button>
    </div>
</div>