<div class="detailPage">
    <div class="entryTitle">
        <span>清单详情</span>
    </div>
    <div class="text-center">
        <small class="help-block text-red">
            为保证申报内容准确，请在修改国别、币制、包装种类、计量单位等信息时填写对应代码。
        </small>
    </div>
    <table id="entryHead" class="headDetail" border="1px solid balck">
        <tr hidden="hidden">
            <td class="headTitle">ID</td>
            <td>
                <input class="form-control input-sm" maxlength="36" id="auto_id" hidden="hidden"/>
            </td>
            <td class="headTitle">bill_nos</td>
            <td>
                <input class="form-control input-sm" maxlength="36" id="bill_nos" hidden="hidden"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">核放单号</td>
            <td>
                <input class="form-control input-sm" maxlength="36" id="manifest_no"/>
            </td>
            <td class="headTitle">申报地海关</td>
            <td>
                <input class="form-control input-sm" maxlength="10" id="customs_code"/>
            </td>
            <td class="headTitle">出入区标志</td>
            <td>
                <input class="form-control input-sm" maxlength="5" id="i_e_mark"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">业务类型</td>
            <td>
                <input class="form-control input-sm" maxlength="36" id="biz_type"/>
            </td>
            <td class="headTitle">业务模式</td>
            <td>
                <input class="form-control input-sm" maxlength="10" id="biz_mode"/>
            </td>
            <td class="headTitle">进出口标志</td>
            <td>
                <input class="form-control input-sm" maxlength="5" id="i_e_flag"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">出入区方式</td>
            <td>
                <input class="form-control input-sm" maxlength="50" id="trade_mode"/>
            </td>
            <td class="headTitle">总件数</td>
            <td>
                <input class="form-control input-sm" maxlength="18" id="pack_no"/>
            </td>
            <td class="headTitle">总毛重</td>
            <td>
                <input class="form-control input-sm" maxlength="18" id="goods_wt"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">总货值</td>
            <td>
                <input class="form-control input-sm" maxlength="18" id="sum_goods_value"/>
            </td>
            <td class="headTitle">总净重</td>
            <td>
                <input class="form-control input-sm" maxlength="18" id="fact_weight"/>
            </td>
            <td class="headTitle">起始地</td>
            <td>
                <input class="form-control input-sm" maxlength="10" id="start_land"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">目的地</td>
            <td>
                <input class="form-control input-sm" maxlength="36" id="goal_land"/>
            </td>
            <td class="headTitle">运载方式</td>
            <td>
                <input class="form-control input-sm" maxlength="100" id="delivery_way"/>
            </td>
            <td class="headTitle">人工操作状态</td>
            <td>
                <input class="form-control input-sm" maxlength="30" id="m_status"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">卡口状态</td>
            <td>
                <input class="form-control input-sm" maxlength="36" id="port_status"/>
            </td>
            <td class="headTitle">录入单位名称</td>
            <td>
                <input class="form-control input-sm" maxlength="100" id="input_name"/>
            </td>
            <td class="headTitle">录入单位代码</td>
            <td>
                <input class="form-control input-sm" maxlength="30" id="input_code"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">申请人</td>
            <td>
                <input class="form-control input-sm" maxlength="36" id="app_person"/>
            </td>
            <td class="headTitle">区域标志</td>
            <td>
                <input class="form-control input-sm" maxlength="100" id="region_code"/>
            </td>
            <td class="headTitle">数据来源</td>
            <td>
                <input class="form-control input-sm" maxlength="30" id="plat_from"/>
            </td>
        </tr>
        <tr hidden="hidden">
            <td class="headTitle">extend_field_3</td>
            <td>
                <input class="form-control input-sm" maxlength="36" id="extend_field_3"/>
            </td>
            <td class="headTitle">note</td>
            <td>
                <input class="form-control input-sm" maxlength="1000" id="note"/>
            </td>
            <td class="headTitle">b_status</td>
            <td>
                <input class="form-control input-sm" maxlength="30" id="b_status"/>
            </td>
        </tr>
        <tr hidden="hidden">
            <td class="headTitle">trade_code</td>
            <td>
                <input class="form-control input-sm" maxlength="36" id="trade_code"/>
            </td>
            <td class="headTitle">trade_name</td>
            <td>
                <input class="form-control input-sm" maxlength="100" id="trade_name"/>
            </td>
            <td class="headTitle">status</td>
            <td>
                <input class="form-control input-sm" maxlength="30" id="status"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">车牌号</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="car_no"/>
            </td>
            <td class="headTitle">车自重</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="car_wt"/>
            </td>
            <td class="headTitle">IC卡号</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="ic_code"/>
            </td>
        </tr>

    </table>

    <!--<div class="entryTitle">-->
        <!--<span>预定数据</span>-->
    <!--</div>-->
    <!--<table id="entryList" class="listDetail" border="1px solid balck">-->
        <!--<tr style="height: 30px">-->
            <!--<th>提运单号</th>-->
            <!--<th>总单量</th>-->
            <!--<th>放行单量</th>-->
            <!--<th>放行件数</th>-->
            <!--<th>放行毛重</th>-->
            <!--<th>放行净重</th>-->
            <!--<th>放行货值</th>-->
        <!--</tr>-->
    <!--</table>-->

    <div class="text-center">
        <small class="help-block text-red" id="errorMsg"></small>
    </div>
    <div class="form-group text-center margin" id="btnDiv">
        <button class="btn btn-sm btn-success" type="button" id="ws-page-apply"
                data-toggle="tooltip-disabled"
                title="提交保存">
            <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-sm btn-warning" type="button" id="ws-page-back"
                data-toggle="tooltip-disabled"
                title="取消并返回">
            <i class="fa fa-reply"></i>
        </button>
    </div>
</div>