<section class="content-header">
    <h1>身份证校验</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-cubes"></i> 数据校验</a></li>
        <li class="active">身份证校验</li>
    </ol>
</section>


<section class="content">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary ws-query">
                    <div class="box-header with-border">
                        <i class="fa fa-search"></i>
                        <h3 class="box-title">检索</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-sm btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" style="border-width: 1px;">订单编号：</span>
                                    <input class="form-control" type="text" name="flightNo" placeholder="请输入订单编号"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-daterange">
                                    <span class="input-group-addon" style="border-width: 1px;">进口日期：</span>
                                    <input class="form-control " type="text" name="flightTimes" placeholder="请选择进口日期"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">身份证校验状态：</span>
                                    <select class="form-control" name="idCardStatus"  onchange="sw.pageModule('express/import_b/verify_idcard').setButton()">
                                        <option value="">全部</option>
                                        <option value="NO" selected="selected">待校验</option>
                                        <option value="ING">校验中</option>
                                        <option value="N">未通过</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" type="button" ws-search="verify/idCard"
                                        data-toggle="tooltip-disabled"
                                        title="查询"><i class="fa fa-search"></i></button>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-sm btn-primary" type="button" ws-download="bill"
                                        data-toggle="tooltip-disabled"
                                        title="下载"><i class="fa fa-download"></i></button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i class="fa fa-list-alt"></i>
                        <h3 class="box-title">身份证校验</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-sm btn-primary pull-right" type="button" ws-submit="" id="sumitBtn"
                                    data-toggle="tooltip-disabled">提交公安部校验
                            </button>
                            <button class="btn btn-sm btn-success pull-right" style="margin-right: 10px;display: none"
                                    type="button" ws-refresh="" data-toggle="tooltip-disabled">校验结果刷新
                            </button>
                            <button class="btn btn-sm btn-primary pull-right hide" style="margin-right: 10px" type="button"
                                    ws-convert="" title="未校验的分单无法提供公安部校验凭证" id="validateBtn"
                                    data-toggle="tooltip-disabled">设为未校验
                            </button>
                            <button class="btn btn-sm btn-danger pull-right" style="margin-right: 10px" type="button"
                                    ws-delete=""
                                    data-toggle="tooltip-disabled">删除
                            </button>
                            <div class="pull-right" style="margin: 5px 30px 5px 5px;color:red">
                                校验不通过的分单数：<span id="notPass" name="notPass">0</span>
                            </div>
                            <div class="pull-right" style="margin: 5px 30px 5px 5px">
                                剩余次数：<span id="verify_surplus" name="verify_surplus">0</span>
                            </div>
                            <div class="pull-right" style="margin: 5px 30px 5px 5px">
                                累计次数：<span id="verify_count" name="verify_count">0</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div style="text-align: center">
                            <table id="query-idCardVerify-table" align="center"
                                   class="table table-striped table-bordered table-hover table-condensed"
                                   width="100%">
                            </table>
                        </div>
                    </div>
                 <!--   <div class="overlay hidden" id="loadingDiv">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>-->
                </div>
            </div>

    </div>
    <div class="row">
        <section class="col-lg-12">
            <div class="box ws-workspace" style="display: none">
                <div class="box-header with-border">
                    <i class="fa fa-th-large"></i>
                    <h3 class="box-title" id="ws-work-title">[工作区名称]</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body" id="ws-workspace">
                    [载入子表单]
                </div>
            </div>
        </section>
    </div>
</section>
