<section class="content-header">
    <h1>企业基本信息</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-cubes"></i>信息管理</a></li>
        <li class="active">企业基本信息</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-info"></i>
                    <h3 class="box-title">企业基本信息</h3>
                </div>
                <div class="box-body" id="enterpriseId">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业名称</label>
                                <input type="text" class="form-control"
                                       name="ent_name" id="ent_name"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业代码</label>
                                <input type="text" class="form-control"
                                       name="ent_code" id="ent_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                 <label>企业法人</label>
                                 <input type="text" class="form-control"
                                   name="ent_legal" id="ent_legal"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业电话</label>
                                <input type="text" class="form-control"
                                       name="ent_phone" id="ent_phone"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业唯一编号</label>
                                <input type="text" class="form-control"
                                        name="ent_unique_code" id="ent_unique_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业组织机构代码</label>
                                <input type="text" class="form-control"
                                       name="org_code" id="org_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业工商营业执照号</label>
                                <input type="text" class="form-control"
                                       name="business_code" id="business_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业DXPID</label>
                                <input type="text" class="form-control"
                                       name="dxp_id" id="dxp_id"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业税务登记代码</label>
                                <input type="text" class="form-control"
                                       name="tax_code" id="tax_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业统一社会信用代码</label>
                                <input type="text" class="form-control"
                                       name="credit_code" id="credit_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业类别</label>
                                <input type="text" class="form-control"
                                        name="ent_type" id="ent_type"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业性质</label>
                                <input type="text" class="form-control"
                                       name="ent_nature" id="ent_nature"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>主管海关</label>
                                <input type="text" class="form-control"
                                       name="port" id="port"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>海关10位代码</label>
                                <input type="text" class="form-control"
                                       name="customs_code" id="customs_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业分类</label>
                                <input type="text" class="form-control"
                                       name="ent_classify" id="ent_classify"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>业务类型</label>
                                <input type="text" class="form-control"
                                       name="ent_business_type" id="ent_business_type"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="box-footer">-->
                    <!--<div class="form-group">-->
                        <!--<button class="btn btn-sm btn-info pull-right" type="button"-->
                                <!--style="margin-right:10px;"-->
                                <!--id="cancelId"-->
                                <!--data-toggle="tooltip-disabled"-->
                                <!--onclick="sw.pageModule('information/enterprise_info').cancelEnterprise()">-->
                            <!--取消-->
                        <!--</button>-->
                        <!--<button class="btn btn-sm btn-info pull-right" type="button"-->
                                <!--style="margin-right:10px;"-->
                                <!--id="saveId"-->
                                <!--data-toggle="tooltip-disabled"-->
                                <!--onclick="sw.pageModule('information/enterprise_info').saveEnterprise()">-->
                            <!--保存-->
                        <!--</button>-->
                        <!--<button class="btn btn-sm btn-info pull-right" type="button"-->
                                <!--style="margin-right:10px;"-->
                                <!--id="editId"-->
                                <!--data-toggle="tooltip-disabled"-->
                                <!--onclick="sw.pageModule('information/enterprise_info').editEnterprise()">-->
                            <!--修改-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>
