<section class="content-header">
    <h1>企业基本信息</h1>
    <ol class="breadcrumb">
        <li><a href="javascript:void(0);"><i class="fa fa-cubes"></i>信息管理</a></li>
        <li class="active">企业基本信息</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-primary box-default">

                <div class="box-header with-border">
                    <i class="fa fa-newspaper-o"></i>
                    <h3 class="box-title">企业基本信息</h3>
                </div>

                <div class="box-body" id="enterpriseId">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业名称</label>
                                <input type="text" class="form-control"
                                       name="ent_name" id="ent_name"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>统一社会信用代码</label>
                                <input type="text" class="form-control"
                                       name="credit_code" id="credit_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>法定代表人</label>
                                <input type="text" class="form-control"
                                       name="ent_legal" id="ent_legal"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>主管海关</label>
                                <input type="text" class="form-control"
                                       name="port" id="port"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>申报企业名称</label>
                                <input type="text" class="form-control"
                                       name="declare_ent_name" id="declare_ent_name"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>担保企业名称</label>
                                <input type="text" class="form-control"
                                       name="assure_ent_name" id="assure_ent_name"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>区内企业名称</label>
                                <input type="text" class="form-control"
                                       name="area_name" id="area_name"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业DXPID</label>
                                <input type="text" class="form-control"
                                       name="dxp_id" id="dxp_id"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group col-xs-12 margin_b">
                                <label>企业简码</label>
                                <input type="text" class="form-control"
                                       name="brevity_code" id="brevity_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>海关注册编码</label>
                                <input type="text" class="form-control"
                                       name="customs_code" id="customs_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>联系电话</label>
                                <input type="text" class="form-control"
                                       name="ent_phone" id="ent_phone"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>业务类别</label>
                                <select class="form-control input-sm" id="ent_business_type" name="ent_business_type">
                                    <option value="">无</option>
                                    <option value="E-business">电商企业</option>
                                    <option value="EB-platform">电商平台</option>
                                    <option value="Payment">支付企业</option>
                                    <option value="Logistics">物流企业</option>
                                    <option value="Storage">仓储企业</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>申报企业海关注册编码</label>
                                <input type="text" class="form-control"
                                       name="declare_ent_code" id="declare_ent_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>担保企业海关注册编码</label>
                                <input type="text" class="form-control"
                                       name="assure_ent_code" id="assure_ent_code"/>
                            </div>
                            <div class="form-group col-xs-12 margin_b">
                                <label>区内企业编号</label>
                                <input type="text" class="form-control"
                                       name="area_code" id="area_code"/>
                            </div>
                        </div>

                    </div>
                </div>
                <!--<div class="box-footer">-->
                <!--<div class="form-group">-->
                <!--<button class="btn btn-sm btn-info pull-right" type="button"-->
                <!--style="margin-right:10px;"-->
                <!--id="cancelId"-->
                <!--data-toggle="tooltip-disabled"-->
                <!--onclick="sw.pageModule('information/enterprise_info').cancelEnterprise()">-->
                <!--取消-->
                <!--</button>-->
                <!--<button class="btn btn-sm btn-info pull-right" type="button"-->
                <!--style="margin-right:10px;"-->
                <!--id="saveId"-->
                <!--data-toggle="tooltip-disabled"-->
                <!--onclick="sw.pageModule('information/enterprise_info').saveEnterprise()">-->
                <!--保存-->
                <!--</button>-->
                <!--<button class="btn btn-sm btn-info pull-right" type="button"-->
                <!--style="margin-right:10px;"-->
                <!--id="editId"-->
                <!--data-toggle="tooltip-disabled"-->
                <!--onclick="sw.pageModule('information/enterprise_info').editEnterprise()">-->
                <!--修改-->
                <!--</button>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</section>
