<div class="box box-default" id="enterpriseInfo">
    <div class="box-header with-border">
        <h3 class="box-title">企业信息</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业名称</label>
                    <input type="hidden" name="id"/>
                    <input type="text" class="form-control input-sm" name="ent_name"
                           maxlength="100" placeholder="请填写企业名称"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业代码</label>
                    <input type="text" class="form-control input-sm" name="ent_code"
                           maxlength="50" placeholder="请填写企业代码"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业法人</label>
                    <input type="text" class="form-control input-sm" name="ent_legal"
                           maxlength="50" placeholder="请填写企业法人"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业电话</label>
                    <input type="text" class="form-control input-sm" name="ent_phone"
                           maxlength="50" placeholder="请填写企业电话"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业唯一编号</label>
                    <input type="text" class="form-control input-sm" name="ent_unique_code"
                           maxlength="30" placeholder="请填写企业唯一编号"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业组织机构代码</label>
                    <input type="text" class="form-control input-sm" name="org_code"
                           maxlength="20" placeholder="请填写企业组织机构代码"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业工商营业执照号</label>
                    <input type="text" class="form-control input-sm" name="business_code"
                           maxlength="50" placeholder="请填写企业工商营业执照号"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业DXPID</label>
                    <input type="text" class="form-control input-sm" name="dxp_id"
                           maxlength="50" placeholder="请填写企业DXPID"/>
                    <small class="help-block hidden"></small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业税务登记代码</label>
                    <input type="text" class="form-control input-sm" name="tax_code"
                           maxlength="20" placeholder="请填写企业税务登记代码"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业统一社会信用代码</label>
                    <input type="text" class="form-control input-sm" name="credit_code"
                           maxlength="18" placeholder="请填写企业统一社会信用代码" />
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业类别</label>
                    <select class="form-control input-sm" id="ent_type" name="ent_type" ></select>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业性质</label>
                    <select class="form-control input-sm" id="ent_nature" name="ent_nature" ></select>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 主管海关</label>
                    <select class="form-control input-sm" id="port" name="port" ></select>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 海关十位代码</label>
                    <input type="text" class="form-control input-sm" name="customs_code"
                           maxlength="10" placeholder="请填写海关十位代码" />
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业分类</label>
                    <select class="form-control input-sm" id="ent_classify" name="ent_classify" ></select>
                    <small class="help-block hidden"></small>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <small class="help-block text-red hidden" id="errorMsg"></small>
    </div>
    <div class="form-group text-center btnPadding">
        <button class="btn btn-sm btn-success" type="button" id="ws-page-apply"
                data-toggle="tooltip-disabled"
                title="提交保存">
            <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-sm btn-warning" type="button" id="ws-page-back"
                data-toggle="tooltip-disabled"
                title="放弃并返回">
            <i class="fa fa-reply"></i>
        </button>
    </div>
</div>