<div class="box box-default" id="enterpriseInfo">
    <div class="box-header with-border">
        <h3 class="box-title">企业信息</h3>
    </div>
    <div class="box-body">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业名称</label>
                    <input type="hidden" name="id"/>
                    <input type="text" class="form-control input-sm" name="ent_name"
                           maxlength="100" placeholder="请填写企业名称"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 统一社会信用代码</label>
                    <input type="text" class="form-control input-sm" name="credit_code"
                           maxlength="18" placeholder="请填写统一社会信用代码"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 法定代表人</label>
                    <input type="text" class="form-control input-sm" name="ent_legal"
                           maxlength="50" placeholder="请填写法定代表人"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 主管海关</label>
                    <select class="form-control input-sm" id="port" name="port"></select>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 申报企业名称</label>
                    <input class="form-control input-sm" name="declare_ent_name"
                           maxlength="100" placeholder="请填写申报企业名称"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 担保企业名称</label>
                    <input class="form-control input-sm" name="assure_ent_name"
                           maxlength="100" placeholder="请填写担保企业名称"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业DXPID</label>
                    <input type="text" class="form-control input-sm" name="dxp_id"
                           maxlength="50" placeholder="请填写企业DXPID"/>
                    <small class="help-block hidden"></small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 企业简码</label>
                    <input type="text" class="form-control input-sm" name="brevity_code"
                           maxlength="2" placeholder="请填写企业简码"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 海关注册编码</label>
                    <input type="text" class="form-control input-sm" name="customs_code"
                           maxlength="10" placeholder="请填写海关注册编码"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 联系电话</label>
                    <input type="text" class="form-control input-sm" name="ent_phone"
                           maxlength="50" placeholder="请填写联系电话"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 业务类别</label>
                    <select class="form-control input-sm" id="ent_business_type" name="ent_business_type">
                        <option value="">无</option>
                        <option value="E-business">电商企业</option>
                        <option value="EB-platform">电商平台</option>
                        <option value="Payment">支付企业</option>
                        <option value="Logistics">物流企业</option>
                    </select>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 申报企业海关注册编码</label>
                    <input class="form-control input-sm" name="declare_ent_code"
                           maxlength="10" placeholder="请填写申报企业海关注册编码"/>
                    <small class="help-block hidden"></small>
                </div>
                <div class="form-group col-xs-12 margin_b ">
                    <label><strong class="text-red">*</strong> 担保企业海关注册编码</label>
                    <input class="form-control input-sm" name="assure_ent_code"
                           maxlength="10" placeholder="请填写担保企业海关注册编码"/>
                    <small class="help-block hidden"></small>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center">
        <small class="help-block text-red hidden" id="errorMsg"></small>
    </div>
    <div class="form-group text-center btnPadding">
        <button class="btn btn-sm btn-success" type="button" id="ws-page-apply"
                data-toggle="tooltip-disabled"
                title="提交保存">
            <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-sm btn-warning" type="button" id="ws-page-back"
                data-toggle="tooltip-disabled"
                title="放弃并返回">
            <i class="fa fa-reply"></i>
        </button>
    </div>
</div>