body {
    font-family: "Microsoft YaHei UI", "Verdana";
    font-size: 14px;
    /*    background: #6e9aa8;*/
    overflow: hidden;
}

.footer {
    padding-top: 8px;
    font-family: 微软雅黑;
    font-size: 13pt;
    color: #226AD6;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    bottom: 0%;
    height: 40px;
    width: 100%;
    background-color: #ffffff;
    opacity: 0.8;
}