<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <base th:href="${basePath}"/>
    <title th:text="${pageName}"></title>
    <meta th:include="fragments/resource :: head" th:remove="tag"/>

</head>
<body class="hold-transition skin-blue fixed sidebar-mini" style="background-color:#ecf0f5;">
<div class="wrapper">
    <div th:replace="fragments/head :: header"></div>
    <div th:replace="fragments/side :: sidebar"></div>
    <div class="content-wrapper" style="overflow-y:auto;overflow-x:hidden;word-break:break-all;" id="content">
        <div class="box content-header">
            <div id="ws-nothing"></div>
        </div>
    </div>
</div>

<div th:replace="fragments/resource :: scripts"></div>
<div th:replace="fragments/dialogs :: dialog-alert"></div>
<div th:replace="fragments/dialogs :: dialog-confirm"></div>
<div th:replace="fragments/dialogs :: dialog-popup"></div>
<div th:replace="fragments/dialogs :: dialog-icCheck"></div>
<div th:replace="fragments/dialogs :: dialog-checkinfo"></div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    sw.user = /*[[${user}]]*/;
    sw.serverHost =/*[[${serverHost}]]*/;
    sw.serverPort =/*[[${serverPort}]]*/;
    /*]]>*/

    $(document).ready(function () {
        // 加载字典数据
        sw.ajax("api/loadData", "GET", {}, function (rsp) {
            if (rsp.status == 200) {
                if (typeof(rsp.data) == "undefined" || rsp.data == null || rsp.data == "") return;
                sw.dict.unitCode = rsp.data.unitCodeMap;
                sw.dict.unitCodes = rsp.data.unitCodesMap;
                sw.dict.trafMode = rsp.data.trafModeMap;
                sw.dict.port = rsp.data.portMap;
                sw.dict.packType = rsp.data.packTypeMap;
                sw.dict.customs = rsp.data.customsMap;
                sw.dict.currency = rsp.data.currencyMap;
                sw.dict.countryArea = rsp.data.countryAreaMap;
//                sw.dict.chineseDistricts = rsp.data.chineseDistrictsMap;
                sw.dict.certificateType = rsp.data.certificateTypeMap;
                sw.dict.agentType = rsp.data.agentTypeMap;
                sw.dict.agentNature = rsp.data.agentNatureMap;
                sw.dict.agentClassify = rsp.data.agentClassifyMap;
                sw.dict.status = rsp.data.statusMap;
                sw.dict.productCodeUnit1 = rsp.data.productCodeUnit1Map;
                sw.dict.productCodeUnit2 = rsp.data.productCodeUnit2Map;
                sw.dict.tradeMode = rsp.data.tradeModeMap;
                sw.dict.transMode = rsp.data.transModeMap;
                sw.dict.productCode = rsp.data.productCodeMap;
                sw.dict.productCodeAddedTax = rsp.data.productAddedTaxMap;
            }
        });
        // 检查ic卡绑定
//        sw.checkUserIc();
    });
</script>
</body>
</html>
