<div class="panel  panel-info">

    <form id="ws-host" role="form" class="panel-body" style="text-align: left">

        <div class="row">

            <div class="col-md-6">
                <div class="form-group col-xs-12 margin_b">
                    <label><strong class="text-red">*</strong>进/出口:</label>
                    <div class="input-group eportW">
                        <select class="form-control" name="i_e_flag" id="i_e_flag">
                            <option value="I" selected="selected">进口</option>
                            <option value="E">出口</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-xs-12 margin_b">
                    <label><strong class="text-red">*</strong>申报企业名称:</label>
                    <input type="text" class="form-control" id="declare_name" name="declare_name" placeholder="请输入申报企业名称"
                           maxlength="512"/>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group col-xs-12 margin_b">
                    <label><strong class="text-red">*</strong>申报企业海关编码:</label>
                    <input type="text" class="form-control" id="declare_customs_code" name="declare_customs_code" placeholder="请输入申报企业海关编码"
                           maxlength="10"/>
                </div>
                <div class="form-group col-xs-12 margin_b">
                    <label><strong class="text-red">*</strong>申报企业社会信用代码:</label>
                    <input type="text" class="form-control" id="declare_credit_code" name="declare_credit_code" placeholder="请输入申报企业社会信用代码"
                           maxlength="18"/>
                </div>
            </div>
        </div>

        <div class="form-group" style="text-align: center">
            <button class="btn btn-sm btn-success" type="button" id="ws-page-apply" data-toggle="tooltip-disabled"
                    title="提交保存">
                <i class="fa fa-check"></i>
            </button>
            <button class="btn btn-sm btn-warning" type="button" id="ws-page-back" data-toggle="tooltip-disabled"
                    title="放弃并返回">
                <i class="fa fa-reply"></i>
            </button>
        </div>
        <div class="clearfix"></div>
    </form>

    <div id="ws-work" class="panel-body row hide">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div id="ws-workflow" class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div id="ws-property" class="panel-body">
                </div>
            </div>
        </div>
    </div>

</div>