
<div class="detailPage">
    <div class="entryTitle">
        <span>回执状态详情</span>
    </div>
   <!-- <div class="text-center">
        <small class="help-block text-red">
            为保证申报内容准确，请在修改国别、币制、包装种类、计量单位等信息时填写对应代码。
        </small>
    </div>-->
    <table id="returnDetail" class="headDetail" content="content" align="center" border="1px solid balck">
        <tr>
            <td class="headTitle">提运单号</td>
            <td colspan="2">
                <input class="form-control" maxlength="20" id="bill_no" name="bill_no"/>
            </td>
            <td class="headTitle">物流运单编号</td>
            <td colspan="2">
                <input class="form-control" maxlength="40" id="order_no" name="logistics_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">运单回执</td>
            <td colspan="2">
                <input class="form-control" maxlength="20" id="return_status" name="return_status"/>
            </td>
            <td class="headTitle">运单回执时间</td>
            <td colspan="2">
                <input class="form-control" maxlength="40" id="return_time" name="return_time"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">运单回执备注</td>
            <td colspan="4">
                <input class="form-control" maxlength="60" id="return_info" name="return_info"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">运单状态回执</td>
            <td colspan="2">
                <input class="form-control" maxlength="20" id="rec_return_status" name="rec_return_status"/>
            </td>
            <td class="headTitle">运单状态回执时间</td>
            <td colspan="2">
                <input class="form-control" maxlength="40" id="rec_return_time" name="rec_return_time"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">运单状态回执备注</td>
            <td colspan="4">
                <input class="form-control" maxlength="60" id="rec_return_info" name="rec_return_info"/>
            </td>
        </tr>
    </table>
</div>