<section class="content">
<div class="paymantPage">
    <div class="entryTitle">
        <span>运单详情</span>
    </div>
    <div class="text-center">
        <small class="help-block text-red">
            为保证申报内容准确，请在修改国别、币制、包装种类、计量单位等信息时填写对应代码。
        </small>
    </div>
    <table id="entryHead" class="headDetail" content="content" align="center" border="1px solid balck">
        <tr>
            <td class="headTitle">物流运单编号</td>
            <td>
                <input class="form-control input-sm" maxlength="32" id="logistics_no"/>
            </td>
            <td class="headTitle">物流企业代码</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="logistics_code"/>
            </td>
           <!-- <td class="headTitle">总价</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="goods_Value"/>
            </td>-->
        </tr>
        <tr>
            <td class="headTitle">物流企业名称</td>
            <td>
                <input class="form-control input-sm" maxlength="50" id="logistics_name"/>
            </td>
            <td class="headTitle">收货人姓名</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="consingee"/>
            </td>
            <!--<td class="headTitle">担保企业编号</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="tel"/>
            </td>-->
        </tr>
        <tr>
            <td class="headTitle">收货人电话</td>
            <!-- <td colspan="3">-->
            <td>
                <input class="form-control input-sm" maxlength="20" id="consignee_telephone"/>
            </td>
            <td class="headTitle">收货地址</td>
            <td>
                <input class="form-control input-sm" maxlength="30" id="consignee_address"/>
            </td>
            <!--<td class="headTitle">口岸海关代码</td>
            &lt;!&ndash;<td colspan="3">&ndash;&gt;
            <td>
                <input class="form-control input-sm" maxlength="50" id="kouan"/>
            </td>-->
        </tr>
        <tr>
            <td class="headTitle">运费</td>
            <td>
                <input class="form-control input-sm" maxlength="20" id="freight"/>
            </td>
            <td class="headTitle">保价费</td>
            <td>
                <input class="form-control input-sm" id="insured_fee"/>
            </td>
           <!-- <td class="headTitle">订购人证件类型</td>
            <td>
                <input class="form-control input-sm" id="buyer_Id_Type" value = "身份证"/>
            </td>-->
        </tr>
        <tr>
            <td class="headTitle">件数</td>
            <td>
                <input class="form-control input-sm" id="pack_no"/>
            </td>
            <td class="headTitle">毛重</td>
            <td>
                <input class="form-control input-sm" maxlength="50" id="weight1"/>
            </td>
            <!--<td class="headTitle">订购人电话</td>
            <td><input class="form-control input-sm" id="consignee_Telephone"/></td>-->
        </tr>
        <tr>
            <td class="headTitle">净重</td>
            <td id="fhrdz">
                <input class="form-control input-sm" maxlength="50" id="weight"/>
            </td>
            <td class="headTitle ieDate">备注</td>
            <td class="ieDate">
                <input class="form-control input-sm" maxlength="50" id="note"/>
            </td>

        </tr>
       <!-- <tr id="bzTr" class="hide">
            <td class="headTitle">备注</td>
            <td id="bz" colspan="5">
                <input class="form-control input-sm" maxlength="50" id="note_s"/>
            </td>
        </tr>-->
    </table>

    <div class="text-center">
        <small class="help-block text-red" id="errorMsg"></small>
    </div>
    <div class="form-group text-center margin" id="btnDiv">
        <button class="btn btn-sm btn-success" type="button" id="ws-page-apply"
                data-toggle="tooltip-disabled"
                title="提交保存">
            <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-sm btn-warning" type="button" id="ws-page-back"
                data-toggle="tooltip-disabled"
                title="取消并返回">
            <i class="fa fa-reply"></i>
        </button>
    </div>
</div>
</section>