
<div class="detailPage">
    <div class="entryTitle">
        <span>核注清单回执详情</span>
    </div>
    <table id="returnOrderDetail" class="headDetail" content="content" align="center" border="1px solid balck">
        <tr>
            <td class="headTitle">预录入编号</td>
            <td colspan="2">
                <input class="form-control" maxlength="64" id="invt_preent_no" name="invt_preent_no"/>
            </td>
            <td class="headTitle">核注清单号</td>
            <td colspan="2">
                <input class="form-control" maxlength="64" id="bond_invt_no" name="bond_invt_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">企业内部编码</td>
            <td colspan="4">
                <input class="form-control" maxlength="64" id="etps_inner_invt_no" name="etps_inner_invt_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">回执状态</td>
            <td colspan="2">
                <input class="form-control" maxlength="20" id="return_status" name="return_status"/>
            </td>
            <td class="headTitle">回执时间</td>
            <td colspan="2">
                <input class="form-control" maxlength="40" id="return_time" name="return_time"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">回执备注</td>
            <td colspan="4">
                <input class="form-control" maxlength="1000" id="return_info" name="return_info"/>
            </td>
        </tr>
    </table>
</div>