
<div class="detailPage">
    <div class="entryTitle">
        <span>核放单回执详情</span>
    </div>
    <table id="returnOrderDetail" class="headDetail" content="content" align="center" border="1px solid balck">
        <tr>
            <td class="headTitle">预录入编号</td>
            <td colspan="2">
                <input class="form-control" maxlength="64" id="sas_passport_preent_no" name="sas_passport_preent_no"/>
            </td>
            <td class="headTitle">核放单号</td>
            <td colspan="2">
                <input class="form-control" maxlength="64" id="passport_no" name="passport_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">企业内部编码</td>
            <td colspan="4">
                <input class="form-control" maxlength="64" id="etps_preent_no" name="etps_preent_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">回执状态</td>
            <td colspan="2">
                <input class="form-control" maxlength="20" id="return_status" name="return_status"/>
            </td>
            <td class="headTitle">回执时间</td>
            <td colspan="2">
                <input class="form-control" maxlength="40" id="return_date" name="return_date"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">回执备注</td>
            <td colspan="4">
                <input class="form-control" maxlength="1000" id="return_info" name="return_info"/>
            </td>
        </tr>
    </table>
</div>