<div class="detailPage">
    <div class="entryTitle">
        <span>出区核放单表头</span>
    </div>
    <div class="text-center">
        <small class="help-block text-red">
            为保证申报内容准确，请在修改国别、币制、包装种类、计量单位等信息时填写对应代码。
        </small>
    </div>
    <table id="entryHead" class="headDetail" border="1px solid balck">
        <tr>
            <td class="headTitle">核放单编号</td>
            <td>
                <input class="form-control input-sm" maxlength="64" id="passport_no"/>
            </td>
            <td class="headTitle">关联单证类型代码</td>
            <td>
                <select class="form-control input-sm" id="rlt_tb_typecd">
                    <option value="1">核注清单</option>
                    <!--<option value="2">出入库单</option>-->
                    <!--<option value="3">提运单</option>-->
                </select>
            </td>
            <td class="headTitle">关联单证编号</td>
            <td>
                <input class="form-control input-sm" maxlength="512" id="rlt_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">申报类型代码</td>
            <td>
                <select class="form-control input-sm" id="dcl_typecd">
                    <option value="1">备案</option>
                    <!--<option value="2">变更</option>-->
                    <!--<option value="3">作废</option>-->
                </select>
            </td>
            <td class="headTitle">主管关区代码</td>
            <td>
                <!--<select class="form-control input-sm" id="master_cuscd"/>-->
                <input type="text" id="master_cuscd" name="master_cuscd" list="master_cuscds"/>
                <datalist id="master_cuscds" name="master_cuscds" style="display: none;">
                    <option value="" selected="selected">全部</option>
                </datalist>
            </td>
            <td class="headTitle">申报企业编号</td>
            <td>
                <input class="form-control input-sm" maxlength="10" id="dcl_etpsno"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">申报企业名称</td>
            <td>
                <input class="form-control input-sm" maxlength="512" id="dcl_etps_nm"/>
            </td>
            <td class="headTitle">录入单位代码</td>
            <td>
                <input class="form-control input-sm" maxlength="10" id="input_code"/>
            </td>
            <td class="headTitle">录入单位名称</td>
            <td>
                <input class="form-control input-sm" maxlength="255" id="input_name"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">区内账册编号</td>
            <td>
                <input class="form-control input-sm" maxlength="64" id="areain_oriact_no"/>
            </td>
            <td class="headTitle">进出标志代码</td>
            <td>
                <select class="form-control input-sm" id="io_typecd">
                    <option value="E">出区</option>
                </select>
            </td>
            <td class="headTitle">车牌号</td>
            <td>
                <input class="form-control input-sm" maxlength="128" id="vehicle_no"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">车辆自重</td>
            <td>
                <input class="form-control input-sm" maxlength="19" id="vehicle_wt"/>
            </td>
            <td class="headTitle">车架重</td>
            <td>
                <input class="form-control input-sm" maxlength="19" id="vehicle_frame_wt"/>
            </td>
            <td class="headTitle">集装箱箱型</td>
            <td>
                <input class="form-control input-sm" maxlength="256" id="container_type"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">集装箱重</td>
            <td>
                <input class="form-control input-sm" maxlength="19" id="container_wt"/>
            </td>
            <td class="headTitle">总重量</td>
            <td>
                <input class="form-control input-sm" maxlength="19" id="total_wt"/>
            </td>
            <td class="headTitle">核放单类型代码</td>
            <td>
                <select class="form-control input-sm" maxlength="30" id="passport_typecd">
                    <!--<option value="1">先入区后报关</option>-->
                    <!--<option value="2">一线一体化进出区</option>-->
                    <option value="3">二线进出区</option>
                    <!--<option value="4">非报关进出区</option>-->
                    <!--<option value="5">卡口登记货物</option>-->
                    <!--<option value="6">空车进出区</option>-->
                </select>
            </td>
        </tr>
        <tr>
            <td class="headTitle">绑定类型代码</td>
            <td>
                <select class="form-control input-sm" id="bind_typecd">
                    <!--<option value="1">一车多票</option>-->
                    <option value="2">一票一车</option>
                    <!--<option value="3">一票多车</option>-->
                </select>
            </td>
            <td class="headTitle">区内企业编号</td>
            <td>
                <input class="form-control input-sm" maxlength="10" id="areain_etpsno"/>
            </td>
            <td class="headTitle">区内企业名称</td>
            <td>
                <input class="form-control input-sm" maxlength="512" id="areain_etps_nm"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">申请人及联系方式</td>
            <td>
                <input class="form-control input-sm" maxlength="512" id="dcl_er_conc"/>
            </td>
            <td class="headTitle">货物总毛重</td>
            <td>
                <input class="form-control input-sm" maxlength="19" id="total_gross_wt"/>
            </td>
            <td class="headTitle">货物总净重</td>
            <td>
                <input class="form-control input-sm" maxlength="19" id="total_net_wt"/>
            </td>
        </tr>
        <tr>
            <td class="headTitle">IC卡号(电子车牌)</td>
            <td>
                <input class="form-control input-sm" maxlength="128" id="vehicle_ic_no"/>
            </td>
            <td class="headTitle">企业内部编码</td>
            <td>
                <input class="form-control input-sm" maxlength="64" id="etps_preent_no" readonly="readonly"/>
            </td>
            <td class="headTitle">备注</td>
            <td>
                <input class="form-control input-sm" maxlength="512" id="rmk"/>
            </td>
        </tr>
        <tr hidden="hidden">
            <input id="id" hidden="hidden"/>
            <!--<input id="etps_preent_no" hidden="hidden"/>-->
            <input id="bond_invt_no" hidden="hidden"/>
        </tr>
    </table>

    <div class="entryTitle" hidden="hidden">
        <span>出区核放单表体</span>
    </div>
    <table id="entryList" class="listDetail" border="1px solid balck" hidden="hidden">
        <tr style="height: 30px">
            <th>id</th>
            <th>序号</th>
            <th>关联单证类型</th>
            <th>关联单证编号</th>
            <th>表头关联码</th>
        </tr>
    </table>

    <div class="text-center">
        <small class="help-block text-red" id="errorMsg"></small>
    </div>
    <div class="form-group text-center margin" id="btnDiv">
        <button class="btn btn-sm btn-success" type="button" id="ws-page-apply"
                data-toggle="tooltip-disabled"
                title="提交保存">
            <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-sm btn-warning" type="button" id="ws-page-back"
                data-toggle="tooltip-disabled"
                title="取消并返回">
            <i class="fa fa-reply"></i>
        </button>
    </div>
</div>